footer {
  background-color: #0f3460;
  padding: 50px 0;
  color: #fff;
}

footer .img { 
  background-color: #0c2a4d;
  padding: 15px 15px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
}
span {
  font-size: 13px;
}

.box h2{
  color: lightgray;
  margin-left: 10px;
  font-size: 1.1rem;
}

.copyright{
  transform: translateY(60px);
  padding: 0 70px;
}

.copyright span{
  color: white;
}

ul li {
  transition: .3s;
  cursor: pointer;
}

ul li:hover{
  color: #ff4c6a;
}